.container_grafico{
  padding-top: 50px;
}

.grafico {
  width: 30vw;
  border: 3px solid #2d3436;;
  padding: 10px;
  margin: 0 auto;
}

#torna {
  width:200px;
  margin-left: 20px;
  margin-bottom: 300px;
}
