.header-container{
  text-align: center;
  font-size: 43px;
  height: 1200px;
  width: 100%;
  background-color: #2d3436;
  padding-top: 10px;

  p{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
  }
  .card-title{
    font-size: 20px;
    width: 230px;
  }
  .card-title:hover{
    color: #fff;
  }
}

.container{
  width: 100%;
}

.container-card{
  width: 350px;
  float: right;
}

.dim-img {
  width: 230px;
  height: 140px;
  margin-top: 18px;
}

.card-body{
  height: 300px;
  width: 300px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .dim-img{
    max-width: 100%;
    height: auto;
  }
}
