.header-container{
  text-align: center;
  font-size: 43px;
  height: 600px;
  background-color: #2d3436;

  p{
    margin-top: 20px;
    color: #fff;
  }
  .card-title, .card-subtitle{
    font-size: 20px;
  }
}
