.container-maps{
  width: 100%;
  height: auto;
  float: left;
}

.map{
  width: 700px;
  height: 520px;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #2d3436;
  display: inline-block;
}

h2{
  margin-bottom: 40px;
}
